<!DOCTYPE html>
<html>
<head>
    <title>About Room Allocation System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1 class="display-4">About Room Allocation System</h1>
            <p class="lead">This is a simple room allocation system that takes in group and hostel CSV files and allocates rooms based on gender and capacity.</p>
            <p><a href="/" class="btn btn-primary mx-auto">Back to Home</a></p>
        </div>
    </div>
</body>
</html>
