<!DOCTYPE html>
<html>
<head>
    <title>Hospitality Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>
  
  <div class="container">
    <h1 class="display-4">Room Allocation System</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">

      <div class="form-group">
        <label for="group_file" class="col-form-label">Group CSV File:</label>
        <input type="file" id="group_file" name="group_file" class="form-control">
      </div>

      <div class="form-group">
        <label for="hostel_file" class="col-form-label">Hostel CSV File:</label>
        <input type="file" id="hostel_file" name="hostel_file" class="form-control">
      </div>

      <button type="submit" class="btn btn-primary">Allocate Rooms</button>
    </form>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
